<h1>Chat live</h1>

<div class="panel">
    <div class="chat-panel"></div>
    <div class="user-panel"></div>
</div>


<form action="·" id="formChat" class="input">
    <input class="chat-input" type="text" name="" id="" placeholder="Ingrese el mensaje">
    <button class="btn btn-input" type="submit">Enviar</button>
</form>   
