/* Variables */
:root{
    --main-bg-color: #000; 
    --main-color: #fff;
    --main-color-letter-hover: #000;
    --main-color-hover: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

.navBar{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.navBar > p {
    color: var(--main-color);
}


.lista{
    margin-top: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-title{
    width: 100%;
}

.card-title{
    text-transform: uppercase;
}

.lista-card{
    padding-top: 20px;
}

.lista-imagen{
    max-height: 150px;
}

.lista-container{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;  
    row-gap: 15px;
}

.agregar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.agregar-container{
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 15px;
    width: 35%;
    padding: 0 20px 20px 20px;
}

label{
    margin-top: 10px;
}

.agregar-btn {
    margin-top: 15px;
    width: 100%;
    border: 1px solid black;
}