<h1>Agregar productos</h1>

<form action="http://localhost:8080/api/productos/vistas" enctype="application/x-www-form-urlencoded" method="POST">
    <label for="">Titulo</label>
    <input type="text" name="title">
    <label for="">Precio</label>
    <input type="text" name="price">
    <label for="">Imagen</label>
    <input type="text" name="thumbnail">
    <input type="submit">
</form>