{{!-- Lista de productos --}}

<div class="lista">
    <div class="lista-title">
        <h1>Lista de productos</h1>
    </div>
    <div class="lista-container">
        {{#if existenProductos}}
            {{#each listaProductos}}
                <div class="card lista-card" style="width: 18rem;">
                    <img src={{this.thumbnail}} class="card-img-top lista-imagen">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">Precio: {{this.price}}</p>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p>No hay productos</p>
        {{/if}}
    </div>
</div>
