//- Agregar productos

div(class="agregar")
    div(class="agregar-title")
        h1 Agregar productos
    
    div(class="agregar-container")
        form(action="http://localhost:8080/api/productos/vistas", enctype="multipart/form-data" ,method="post") 
            label(for="", class="form-label") Titulo
            input(type="text", name="title", class="form-control")
            label(for="", class="form-label") Precio
            input(type="text", name="price", class="form-control")
            label(for="", class="form-label") Imagen
            input(type="file", name="thumbnail", class="form-control")
            button(type="submit", class="btn agregar-btn") Enviar
