<!-- Agregar productos -->

<div class="agregar">
    <div class="agregar-title">
        <h1>Agregar productos</h1>
    </div>

    <div class="agregar-container">
        <form action="http://localhost:8080/api/productos/vistas" enctype="multipart/form-data" method="POST">
            <label for="" class="form-label">Titulo</label>
            <input type="text" class="form-control" name="title">
            <label for="" class="form-label">Precio</label>
            <input type="number" class="form-control" name="price">
            <label for="" class="form-label">Imagen</label>
            <input type="file" class="form-control" name="thumbnail">
            <button type="submit" class="btn agregar-btn">Enviar</button>
        </form>
    </div>
</div>