<main>
    <div class="chat-container">

        <div class="chat-header">
            <h3 id="room-name">{{room}} </h3>
            <a id="leave-btn" class="btn">Salir del chat</a>
        </div>

        <div class="chat-main">
            <div class="chat-messages-container"></div>
            <div class="chat-sidebar">
                <h5>Usuarios conectados</h5>
                <ul id="users"></ul>
            </div>
        </div>

        <div class="chat-input">
            <form id="chat-form">
                <input id="msg" type="text" placeholder="Ingrese el mensaje y presione ENTER" autocomplete="off" class="form-control" />
                <button class="btn btn-input">Enviar</button>
            </form>
        </div>
    </div>
</main>