<main class="login-main">
    <h1>Ingresar al chat</h1>
    <form action="/chat" class="form-login">
        <div class="form-login-content">
            <input type="email" name="username" id="username" placeholder="Email" class="form-control" required />
            <select name="room" id="room" class="form-select">
                <option value="Global">Global</option>
            </select>
            <button type="submit" class="btn form-login-btn">Ingresar</button>
        </div>
    </form>
</main>