<nav class="navBar">

    <div>
        <button class="btn" id="listar">Producto</button>
        <button class="btn" id="chat">Chat</button>
    </div>
    <div class="nav-user">
        <p>{{nombre}}</p>
        <a href="/logout"><img id="logout-logo" src="/img/logout.svg" alt="Logout"></a>

    </div>
</nav>