<div class="producto-container">
    <div class="agregar">
        <div class="agregar-title">
            <h1>Agregar productos</h1>
        </div>

        <div class="agregar-container">
            <form id="formAdd">
                <label for="" class="form-label">Titulo</label>
                <input type="text" class="form-control" name="title" id="titulo">
                <label for="" class="form-label">Precio</label>
                <input type="number" class="form-control" name="price" id="precio">
                <label for="" class="form-label">Imagen</label>
                <input type="file" class="form-control" name="thumbnail" id="archivo">
                <button type="submit" class="btn agregar-btn">Enviar</button>
            </form>
        </div>
    </div>

    <div class="lista">
        <div class="lista-title">
            <h1>Lista de productos</h1>
        </div>
        <div class="lista-container"></div>
    </div>
</div>

